<div class="d-flex justify-content-between">
    <h3>Activity</h3>
    <p class="mt-2 font-weight-light"> <a href="#"> View Timeline</a>/ <a href="#"> Filter Activity</a></p>
  </div>
  <div class="list-group border-bottom border-top" >
    <a href="#"
        class="list-group-item list-group-item-action flex-row  border-0 d-flex primary-background text-white">
        <div class="div-template-avatar secondary-background">
          <img src="../../../assets/images/d.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="ml-3">
            <div class="d-flex w-100 justify-content-start">
                <small class="font-weight-bold">Jhon Stainior
                  <span class="font-weight-light">commented</span>
                </small>
            </div>
            <small class="font-weight-light">Well, I am living it how it capture</small>
            <br>
            <i class="fa fa-comment icon-small mt-auto"></i><small>2 Seconds ago.</small>
        </div>
    </a>
  </div>
  <div class="list-group border-bottom border-top" >
    <a href="#"
        class="list-group-item list-group-item-action flex-row  border-0 d-flex primary-background text-white">
        <div class="div-template-avatar secondary-background">
          <img src="../../../assets/images/d.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="ml-3">
            <div class="d-flex w-100 justify-content-start">
                <small class="font-weight-bold">Jhon Stainior
                  <span class="font-weight-light">added a new video</span>
                </small>
            </div>
            <small class="font-weight-light">Creating people follow</small>
            <br>
            <i class="fa fa-camera"></i><small>5 minutes ago.</small>
        </div>
    </a>
  </div>
  <div class="list-group border-bottom border-top" >
    <a href="#"
        class="list-group-item list-group-item-action flex-row  border-0 d-flex primary-background text-white">
        <div class="div-template-avatar secondary-background">
          <img src="../../../assets/images/d.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="ml-3">
            <div class="d-flex w-100 justify-content-start">
                <small class="font-weight-bold">Jhon Stainior
                  <span class="font-weight-light">shared a document</span>
                </small>
            </div>
            <small class="font-weight-light">"How to become an export"</small>
            <br>
            <i class="fa fa-sticky-note"></i><small>1 day ago.</small>
        </div>
    </a>
  </div>
  <div class="list-group border-bottom border-top" >
    <a href="#"
        class="list-group-item list-group-item-action flex-row  border-0 d-flex primary-background text-white">
        <div class="div-template-avatar secondary-background">
          <img src="../../../assets/images/d.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="ml-3">
            <div class="d-flex w-100 justify-content-start">
                <small class="font-weight-bold">Arjun
                  <span class="font-weight-light">unlocked new badge</span>
                </small>
            </div>
            <small class="font-weight-light">Social Guru</small>
            <br>
            <i class="fa fa-unlock-alt"></i><small>44 minutes ago.</small>
        </div>
    </a>
  </div>
  
  